@import url('https://fonts.googleapis.com/css?family=Tangerine');

@media (max-width:992px)
{
.social a{
	font-size: 4em;
	padding:2rem;
}
	

}


.v1{
	width:60%;
	height:50%;
	display: inline-block;
	align-items: center;
}

input[type=text], select, textarea{
	width:100%;
	padding 12px;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	margin-top:6px;
	margin-bottom: 16px;
	resize:vertical;
}


input[type=submit]{
	background-color: #4caf50;
	color:white;
	padding:12px 20px;
	border-radius:4px;
	cursor:pointer;
}


input[type=submit]:hover{
	background-color: #45a049;
}

.container{
	border-radius:5px;
	background-color:#f2f2f2;
	padding:20px;
}


@media (max-width:768px)
{

#mylogo{
	display: none;
}
.carousel-caption{
	font-size: 40%;
	top:40%;
	
}




.carousel-caption h1{
	font-size:250%;
}




.carousel-caption h3{
	font-size: 110%;

}


.carousel-caption .btn{
font-size: 90%;
	padding:4px 8px;

}



.display-4{
	font-size: 200%;
}

.social a{
	font-size: 2.5em;
	padding:1.2rem;
}



}


@media (max-width:576px)
{

.carousel-caption{
	font-size: 20%
	top:30%;
	
}

#mylogo{
	display: none;
}

.carousel-caption h1{
	font-size:180%;
}



.carousel-caption h3{
	font-size: 85%;
	
}


.carousel-caption .btn{
	font-size: 45%;
	padding:2px 4px;

}

.carousel-indicators	{visibility: hidden
}

.display-4{
	font-size: 120%;
}


.social a{
	font-size: 2.5em;
	padding :.7rem;
}

}


html,body{
	height:100%;
	width:100%;
	 font-family: 'Tangerine', serif;
}



.navbar{
	padding: .8rem;
	background-color: #666666;
}

.navbar-nav li{
	padding-right:20px;
}


.carousel-inner img{
	width:100%;
	height: 100%;
}

.carousel-caption{
	position:absolute;
	top:50%;
	translate : translateY(-50%);
}
.nav-link{
	font-size:1.1em !important;
}



.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000000;
}




.carousel-caption h3{
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000000;
}


.btn-primary{
	background-color: #6648b1;
	border:1px solid #563d7c;
}


.btn-primary:hover{
	background-color: #563d7c;
	border:1px solid #563d7c;
}

.jumbotron{
	padding: 1rem;
	border-radius:0;
}


.padding{
	padding-bottom: 2rem;
	width:100%;
}


.welcome{
	
	margin:text-center;

	padding-top: 2rem;
}



.welcome hr{
	border-top:2px solid #b4b4b4;
	margin-top:.3rem;
	margin-bottom:.1rem;
}

.fa-linkedin{
	color:#0072b1;
}

.fa-github{
	 color:#211f1f;
}

.fa-code{
	color:#e54d26;
}


.fa-bold{
	color:#563d7c;
}


.fa-css3{
	color:#2163af;
}



.fa-python{
	color:#306998;
}

.fa-file-code-o{
	color:blue;
}


.fa-java{
	color:#f89820;
}



.fa-code , .fa-bold , .fa-css3, .fa-python, .fa-java, .fa-file-code-o{
	font-size:4em;
	margin:1rem;
	

}


.fun{
	width:100%;
	margin-bottom: 2rem;
}


.gif{
	max-width: 100%
}


.social a{
	font-size: 4.5em;
	padding:3rem;
}



.fa-facebook{
	color: #3b5998;
}

.fa-instagram{
	color:#517fa4;
}

.fa-google-plus-g{
	color:#dd4b39;
}


.fa-youtube{
	color:#c4302b;
}

.fa-twitter{
	color:#00acee ;
}


.fa-youtube:hover, .fa-github:hover, .fa-linkedin:hover, .fa-instagram:hover , .fa-twitter:hover{
color: #d5d5d5;
}
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility :visible;
	backface-visibility: visible;
}


.navbar-brand {
 width:100%;
 height:50%;
}

figure{
	position: relative;
	width:100%;
	height:60%;
	margin 0!important;
}


.my-4{
	color:#000000;
}


.fixed-wrap{
	clip:rect( 0,auto,auto,0);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

}



#fixed{
	background-image: url("img/light.jpg");
	position:fixed;
	display: block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position: center center;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	will-change: transform;
}


[class*="col-"]
{
	padding:1 rem;
}



footer{
	background-color: #3f3f3f;
 color:#d5d5d5;
 padding-top:2rem;

}


hr.light{
	border-top:1px solid #d5d5d5;
	width:75%;
	margin-top: .8rem;
	margin-bottom: .1rem;
}


hr.light-100{
	border-top:1px solid #d5d5d5;
	width:100%;
	margin-top: .8rem;
	margin-bottom: .1rem;
	text-align: center;
}



h5{
	text-align: center;
}







.contactImage
{
	width:0%;
	height:0%;
}
